@model TimeSheet.ViewModels.Marcacao.MarcacaoVM

@{
    ViewBag.Title = "Novo";
}

<h3>Novo</h3>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        
        @Html.Partial("_Marcacao", Model)

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yyyy',
                language: 'pt-BR',
                todayBtn: true,
                todayHighlight: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                selectOtherMonths: true
            }).datepicker("setDate", new Date());
        });
    </script>
}
