@model TimeSheet.ViewModels.Marcacao.MarcacaoVM

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Deseja excluir a marcação?</h3>
<div>
    <hr />

    @Html.Partial("_MarcacaoDelDetails", Model)

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="Excluir" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                 Excluir
            </button>
        </div>
    }
</div>
